{% extends "base_mini.html" %}
{% block content %}
<h3>Entrar</h3>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
</form>
<p><a href="{{ url_for('auth.reset_password_request')}}">Esqueci-me da password</a></p>
<p>És novo? <a href="{{ url_for('auth.register') }}">Regista-te!</a></p>
{% endblock %}


