Flask_Migrate==2.3.0
Flask_Moment==0.6.0
WTForms==2.2.1
SQLAlchemy==1.2.13
Flask_WTF==0.14.2
Werkzeug==0.14.1
Flask==1.0.2
Flask_SQLAlchemy==2.3.2
alembic==1.0.2
Flask_Login==0.4.1
Flask_Bcrypt==0.7.1
