
<tr class='athing comtr '>
    <td>
        <table border='0'>
            <tr>
                <td class='ind'><img src="" height="1" width="{{ comment.level() * 40}}"></td>
                <td valign="top" class="votelinks">
                    <center>
                        <a id='' onclick='' href='{{url_for('main.upvote_comment', comment_id=comment.id)}}'>
                            <div class='votearrow' title='upvote'></div>
                        </a>
                    </center>
                </td>
                <td class="default">
                    <div style="margin-top:2px; margin-bottom:-15px;"><span class="comhead">
                            <a href="{{ url_for('main.user', username=comment.author.username) }}" class="hnuser">{{ comment.author.username }}</a> 
                            <span class="age">{{ moment(comment.timestamp).fromNow() }}</span> 
                            {%if current_user == comment.author %}
                                - <a href="{{url_for('main.delete_comment', comment_id=comment.id)}}">apagar </a>
                                - <a href="{{url_for('main.delete_comment', comment_id=comment.id)}}">pontos: {{ comment.score }} </a>
                            {% endif %}
                            <span href=""></span>
                        </span></div><br>
                        <div class="commtext c00">
                            {% filter markdown %}{{ comment.text }}{% endfilter %}    
                        <div>
                        <div class='reply'>
                            <p>
                                <font size="1">
                                    <u><a href="{{url_for('main.reply', comment_id=comment.id)}}">responder</a></u>
                                </font>

                                <!--Thread Score: {{ comment.thread_score }}</p>-->
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>