{% if post.url %}
<li>
  <a target="_blank" href="{{ post.url }}">{{ post.title }}</a
  ><em
    ><span> (via {{ post.url_base }})</span></em
  >
</li>
{% else %}
<li>
  <a href="{{ url_for('main.post_page', post_id=post.id)}}">{{ post.title }}</a>
</li>
{% endif %}
<div>
  <span
    >{{ post.score }} points by
    <a href="{{ url_for('main.user', username=post.author.username) }}">{{
      post.author.username
    }}</a>
    {{ moment(post.timestamp).fromNow() }} |
    <a href="{{ url_for('main.post_page', post_id=post.id)}}"
      >{{ post.total_comments() }} Comments</a
    ></span
  >
</div>
<div>
  <span><a href="{{ url_for('main.upvote', post_id=post.id)}}">Vote</a></span> {%if
  current_user == post.author %}
  <span
    ><a href="{{ url_for('main.delete_post', post_id=post.id)}}"> Delete</a></span
  >
  {% endif %}
</div>
<br />
<br />
