<html>
    <head>

        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
        {{ moment.lang("pt") }}

        {% if title %}
        <title>{{ title }} - Dev.pt</title>
        {% else %}
        <title>Welcome to Dev.pt</title>
        {% endif %}
    </head>
    <body>
        <div>
            Dev.pt:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('submit') }}">Submeter</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.username }}</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>


