{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    <table border="0">
    {{ form.hidden_tag() }}
    <tr>
        <td valign="top">{{ form.username.label }}:</td>
        <td>{{ form.username(size=32) }}</td>
        {% for error in form.username.errors %}
            <td></td><span style="color: red;">{{ error }}</span></td>
        {% endfor %} 
    </tr>
    <tr>
        <td valign="top">{{ form.about_me.label }}:</td>
        <td>{{ form.about_me(cols=50, rows=4) }}</td>
        {% for error in form.about_me.errors %}
            <td></td><span style="color: red;">{{ error }}</span></td>
        {% endfor %} 
        </tr>
    <tr>
    <tr>
        <td valign="top">{{ form.email.label }}:</td>
        <td>{{ form.email(size=32) }}</td>
        {% for error in form.email.errors %}
            <td></td><span style="color: red;">{{ error }}</span></td>
        {% endfor %} 
    </tr>
    <tr>
        <td valign="top"><p>{{ form.submit() }}</p></td>
    </tr>
    </table>
</form>
{% endblock %}


