{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h3>Olá, {{ current_user.username }}!</h3>
    {% else %}    
        <h3>Olá, anónimo</h3>
    {% endif %}

    <ol>
        {% for post in posts %}
            {% if post.url %}
                <li><a target="_blank" href="{{ post.url }}">{{ post.title }}</a><em><span> (via {{ post.url_base }})</span></em></li>
            {% else %}
                <li><a href="{{ url_for('post_page', post_id=post.id)}}">{{ post.title }}</a></li>
            {% endif %}
            <div>
                    <span>{{ post.score }} pontos por <a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a> {{ moment(post.timestamp).fromNow() }} | <a href="{{ url_for('post_page', post_id=post.id)}}">{{ post.total_comments() }} Comentários</a></span>
            </div>
            <div>
                    <span><a href="{{ url_for('upvote', post_id=post.id)}}">Votar</a></span>
            </div>
            <br>
        <br>
        {% endfor %}
    </ol>  
{% endblock %}
