{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Olá, {{ current_user.username }}!</h1>
    {% else %}    
        <h1>Olá, anónimo</h1>
    {% endif %}

    <ol>
        {% for post in posts %}
            {% if post.url %}
                <li><a target="_blank" href="{{ post.url }}">{{ post.title }}</a></li>
                <span>(via {{ post.url_base }})</span>
            {% else %}
                <li><a href="{{ url_for('post_page', post_id=post.id)}}">{{ post.title }}</a></li>
            {% endif %}
            <span><i>por <a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a></i></span>
            <span>Score: {{ post.score }}</span>
            <span><a href="{{ url_for('upvote', post_id=post.id)}}">Votar</a></span>
            <span>{{ moment(post.timestamp).fromNow() }}</span>
            <br>
        <br>
        {% endfor %}
    </ol>  
{% endblock %}
