{% extends "base.html" %} {% block content %} {% if post.url %}
<a target="_blank" href="{{ post.url }}">{{ post.title }}</a
><em
  ><span> (via {{ post.url_base }})</span></em
>
{% else %}
<a href="{{ url_for('post_page', post_id=post.id)}}">{{ post.title }}</a> {%
endif %} {% if post.text %} {% filter markdown %} {{ post.text }} {% endfilter
%} {% endif %}

<div>
  <span
    >{{ post.score }} pontos por
    <a href="{{ url_for('user', username=post.author.username) }}">{{
      post.author.username
    }}</a>
    {{ moment(post.timestamp).fromNow() }} |
    <a href="{{ url_for('post_page', post_id=post.id)}}"
      >{{ post.total_comments() }} Comentários</a
    ></span
  >
</div>
<div>
  <span><a href="{{ url_for('upvote', post_id=post.id)}}">Votar</a></span> {%if
  current_user == post.author %}
  <span
    ><a href="{{ url_for('delete_post', post_id=post.id)}}"> Apagar</a></span
  >
  {% endif %}
</div>

<br />

<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.text.label }}<br />
    {{ form.text(cols=50, rows=4) }}<br />
    {% for error in form.text.errors %}
    <span style="color: red;">[{{ error }}]</span> {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

<br />

{% for comment in comments %} {% include '_comment.html' %} {% endfor %} {%
endblock %}
