{% extends "base.html" %}

{% block content %}

<p>{{ comment.author.username }} {{ moment(comment.timestamp).fromNow() }}</p>
    <p>{% filter markdown %}{{ comment.text }}{% endfilter %}</p>
    <br>


<br>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.text.label }}<br>
        {{ form.text(cols=50, rows=4) }}<br>
        {% for error in form.text.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}

