{% extends "base.html" %}
{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <table border="0">
            <tr>
                <td>{{ form.title.label }}</td>
                <td>{{ form.title(size=50) }}
                    {% for error in form.title.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.text.label }}</td>
                <td>{{ form.text(cols=50, rows=4) }}
                    {% for error in form.text.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>ou</td>
            </tr>
            <tr>
                <td>{{ form.url.label }}</td>
                <td>
                    {{ form.url(size=50) }}
                    {% for error in form.url.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.submit() }}</td>
            </tr>
        </table>
    </form>
{% endblock %}
