{% extends "base.html" %}

{% block content %}
<ul>
    <li>User: {{ user.username }}</li>
    {% if user.about_me  %}<li>About me: {{ user.about_me}}</li>{% endif %}
    {% if user.timestamp  %}<li>Creation date: {{ user.timestamp}}</li>{% endif %}
    {% if user.karma  %}<li>Karma: {{ user.karma}}</li>{% endif %}
    {% if user == current_user %}<li>Email: {{ user.email }}</li>{% endif %}  
    
</ul>
{% if user == current_user %}    
    <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
{% endif %}

{% endblock %}



