{% extends "base.html" %}

{% block content %}
<ul>
    <li>Utilizador: {{ user.username }}</li>
    {% if user.about_me  %}<li>Sobre mim: {{ user.about_me}}</li>{% endif %}
    {% if user.timestamp  %}<li>Criado: {{ moment(user.timestamp).format('LL') }}</li>{% endif %}
    {% if user.karma  %}<li>Karma: {{ user.karma}}</li>{% endif %}
    {% if user == current_user %}<li>Email: {{ user.email }}</li>{% endif %}  
</ul>
<p><a href="{{ url_for('main.user_submissions', username=user.username)}}">Posts</a></p>
{% if user == current_user %}    
    <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
{% endif %}

{% endblock %}



